*{
    box-sizing: border-box;
    margin: 0;
}
.main-container{
    margin: 0 auto;
    padding: 30px;
    background-color: chocolate;
}
.button{
    margin-left: 6px;
    padding: 8px 18px 8px 10px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    outline: none;             
}
#menu-span{
    margin-right: 10px;
}
.navbar{
    display: flex;
    justify-content: center;
    visibility: visible;
}
.navbar a{
    width: 20%;
    text-align: center;
    overflow: hidden;
    text-decoration: none;
    text-transform: uppercase;
    border-radius:0 8px;
    font-weight: bolder;
    font-size: 20px;
    color: black;
    padding: 8px 18px;
    margin: 6px;
    display: inline-block;
    background-color: #f3f3f3;
}
.first-content{
     width: 100%;
     height: auto;
    display: flex;
    justify-content: center;
    flex-direction:row;
}
.img{
    margin: 20px 0 20px 0px;
    min-width: 65%;
    height: 400px;
    position: relative;
    background: url(images/mixkebab.png) no-repeat center;
    background-size:cover;
}
.img h2{
    position: absolute;
    top: 40px;
    left: 20px;
    background-color: yellow;
    padding: 14px 16px;
}
.img p{
    position: absolute;
    top: 100px;
    left: 20px;
    background-color: yellow;
    padding: 10px 12px
}
.price-list{
    margin: 20px 0px;
    padding-left: 20px;
    min-width: 35%;
    height: 180px;
}
.price{
    background-color: yellow;
    margin: 0 0 20px;
    width: 100%;
    height: 190px;
    text-align: center;
    padding: 50px;
}
.second-content{
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
}
.menu-cards{
    background-color: white;
    margin:0 0 0 10px ;
    padding:20px;
    text-align: center;
    border-radius: 8px
}
.menu-cards:first-child{
    margin-left: 0;
}
.menu-cards p{
    color: grey;
    font-weight: bold;
}
.emoji{
    font-size: 50px;
}
.third-content{
    width: 100%;
    height: auto;
    margin-top: 20px;
    padding: 50px 50px 50px 0;
    background-color: white;
    position: relative;
}
.second-image{
    display:inline-block;
    visibility:visible;
}
.featured-info{
    position:absolute;
    padding: 0 50px;
    left: 430px;
    top: 60px
}

.featured-info p{
    font-weight: bold;
    padding: 20px 0 0 0;
}
.learn-more{
    width: 150px;
    padding: 15px;
    background-color: yellow;
}
.learn-more:hover{
    background-color: orange;
}
.learn-more a{
    text-decoration: none;
    color: black;
}
#learn-more-span{
    margin-left: 25px;
}
fieldset{
    margin:30px 0;
    border: none;
    border-top:30px dashed #c0392b ;
}
legend{
    text-align: center;
    font-size: 40px;
    font-family: cursive;
    font-weight: bold;
    padding:0 30px;
}
.kebab-menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
img{
    width: 300px;
    height: 300px;
    object-fit:cover;
}
.kebabs{
    width: 310px;
    height: auto;
    text-align: center;
    margin-bottom: 10px
}
@media (min-width:800px){
    .featured-info{
        position: relative;
        left: 0;
        top: 0
    }
}
@media (max-width:800px){
    .price-list{
        padding: 0;
    }
    .first-content{
        flex-direction: column;
    }
    .second-content{
        margin-top: 220px;
    }
    .second-image{
        display: none;
    }
    }

@media (max-width:1420px){
    #shish{
        display: none;
    }
}
@media (max-width:1120px){
    #wrap{
        display: none;
    }
}